@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.input {
  @apply w-full bg-zinc-900 border border-zinc-800 rounded-xl px-5 py-4 outline-none focus:border-violet-500 transition-all;
}
body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 999px;
}